  
.basket1 a{
  border-color: #009EFF;
  border-radius: 4px;
  background-color: #009EFF;
  font-size: 18px;
  margin: 10%;
  margin-left: 30%;
  width: 60%;
  padding: 15px 30px 15px 30px;
}
.basket1 a:hover{
  border-color: #009EFF;
  background-color: #ffffff;
  color: #009EFF;
  padding: 15px 30px 15px 30px;
  font-size: 18px;
}
.basket2 a{
  border-color: #52D89C;
  border-radius: 4px;
  background-color: #52D89C;
  font-size: 18px;
  margin: 10%;
  margin-left: 30%; 
  width: 60%;
  padding: 15px 30px 15px 30px;
}
.basket2 a:hover{
  border-color: #52D89C;
  background-color: #ffffff;
  color: #52D89C;
  padding: 15px 30px 15px 30px;
  font-size: 18px;
}
.basket3 a{
  border-color: #FF7B5D;
  border-radius: 4px;
  background-color: #FF7B5D;
  font-size: 18px;
  margin: 10%;
  width: 60%;
  padding: 15px 30px 15px 30px;
}
.basket3 a:hover{
  border-color: #FF7B5D;
  background-color: #ffffff;
  color: #FF7B5D;
  padding: 15px 30px 15px 30px;
  font-size: 18px;
}
.basket4 a{
  border-color: #FFC14E;
  border-radius: 4px;
  background-color: #FFC14E;
  font-size: 18px;
  margin: 10%;
  width: 60%;
  padding: 15px 30px 15px 30px;
}
.basket4 a:hover{
  border-color: #FFC14E;
  background-color: #ffffff;
  color: #FFC14E;
  padding: 15px 30px 15px 30px;
  font-size: 18px;
}
.buttons .cancelButton{
  border-color: #009eff;
  border-radius: 3px;
  color: #009eff;
  background-color: #ffffff;
  box-shadow: 3px 5px 3px rgba(82, 63, 105, 0.2);
  padding: 10% 30% 10% 30%;
}
.buttons .applyButton{
  border-color: #009eff;
  border-radius: 3px;
  color: #ffffff;
  background-color: #009eff;
  box-shadow: 3px 5px 3px rgba(82, 63, 105, 0.2);
  padding: 10% 30% 10% 30%;
}
.buttons .cancelButton:hover{

  border-color: #009eff;
  border-radius: 3px;
  color: #ffffff;
  background-color: #009eff;
}
.buttons .applyButton:hover{
  
  border-color: #009eff;
  border-radius: 3px;
  color: #009eff;
  background-color: #ffffff;
}
@media (max-width: 360px) {
  
.basket1 a{
  margin-left: 0px;
  width: 100%;
  padding: 5px;
}
.basket2 a{
  margin-left: 0%; 
  width: 100%;
  padding:5px;
}
.basket3 a{
  margin-left: 0%; 
  width: 100%;
  padding:5px;
}
.basket4 a{
  margin-left: 0%; 
  width: 100%;
  padding: 5px;
}
.buttons .cancelButton{
  margin-left: -10px;
  margin-bottom: 20px;
  padding: 5% 28%;
}
.buttons .applyButton{
  margin-left: -20% ;
  padding: 5% 30%;
}
}