<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sversity is the online edu. Tech division of Apcosys Private Limited and Apcosys is a software development and consultancy company with headquarter in Bangalore, India. Sversity online learning destination, offering high-quality courses from the world's best universities and institutions to learners everywhere. In the age of internet, do we really need to spend huge amount on getting degrees? One can equally quench his third for knowledge by joining online classes.">
    <title>Leapss - Leave Management System</title>
    {% load static %}
    <link href="{% static 'assets\css\admin.css' %}" rel="stylesheet"> 
    <link href="{% static 'assets\css\addEmployee.css' %}" rel="stylesheet"> 

    <!-- CSS only -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- Ionic Icon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

    <!-- bootstrap Icon  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <!-- Google Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,200,0,0" />

</head>
<body id="body-pd">
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white border-right position-sticky header" id="sidebar-wrapper">
            <div class="justify-content-center">
                <div class="leapss"><img src="{% static 'assets/img/logo.png'%}" alt="">
                    <button class="btn" id="sidebarClose"><i class="bi bi-x navToggle"></i>  </button>
                </div>
            </div>
            <ul class="sidebar-nav " id="sidebar-nav">
                <li class="profile"data-bs-toggle="collapse">
                    <img src="{% static 'assets/img/user.png'%}" alt="" class="img-fluid rounded-circle">
                    <h6>{{request.session.Username}}</h6>
                </li>
            </ul>
            <div class="list-group list-group-flush" style="list-style:none; margin-top: 10%;">
                <!-- <button class="btn" id="sidebarClose"><span class="bi bi-x "></span></button> -->
                <li ><a class="list-group-item " href="/adminDashboard"><i class="bi bi-grid" style="margin-left: 20%; font-size:18px;"></i><span></i> <span>Home</span></a></li>
                <li><a class="list-group-item " href="/leaveApplicationDetails"> <i class="bi bi-clock" style="margin-left: 20%;font-size:18px; "></i><span></i><span>Leave Section</span></a></li>
                <li><a class="list-group-item active" href="/employees"><i class="bi bi-people" style="margin-left: 20%;font-size:18px;"></i><span></i><span>Employee</span></a></li>
                <li><a class="list-group-item " href="/companySetup"><i class="bi bi-gear"style="margin-left: 20%;font-size:18px;"></i><span></i><span>Company Setup</span></a></li>
                <li><a class="list-group-item " href="/leavePolicySetting"><i class="bi bi-receipt"style="margin-left: 20%;font-size:18px;"></i><span></i><span>Leave Policy</span></a></li>
                
            </div>
             <div class="logout">
              <a class="nav-link"href="/adminLogin"><span class="material-symbols-outlined"style="padding:5%;font-weight: 600; position:relative;top:3px;">
                logout
                </span><span style="font-family: 'Segoe UI', sans-serif; position:relative;bottom:3px; ">Log Out</span></a>
            </div>
            
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg  align-items-center justify-content-between border-bottom">
                   
                <div class="logo d-flex align-items-center">
                    <button class="btn toggle " id="sidebarToggle"><i class="bi bi-list navToggle"></i></button>
                    <!-- <img src="{% static 'assets/img/Apcosys.png'%}" alt=""> -->
                    <span>Apcosys Private Limited</span>
                  </div>
                    
            </nav>
            
            <section class="section container pageClass bg-white rounded dashboard"> 
                <h5 style="color: #009eff; padding: 1%;">Add Employee</h5>
                <center>  
                    <div class="container" >
                    {% if messages %}
                            <div class ="messages" style="width: 300px;">
                
                        {% for message in messages  %}
                                <div class="alert alert-success" role="alert">
                                    <strong style=" font-size: 15px;">! {{message}}</strong> 
                                </div>
                
                        {% endfor %}
                
                            </div>
                            
                    {% endif %}
                    </div> 
                </center>
                <form action="/addEmployee" method="POST" enctype="multipart/form-data" style="margin-left: 9%;">

                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="inputField">
                    
                            <input type="text" id="Name" name="Name"  placeholder="Name"  required>
                    
                            </div>
                            <div class="date">
                    
                            <input type="text" id="D_O_B" name="D_O_B"  placeholder="DOB"  required style="margin-right: 40%" onfocus="(this.type='date')">
                    
                            </div>
                            <div>
                    
                            <input type="text" id="Contact" name="Contact"  placeholder="Contact"  required>
                    
                            </div>
                            <div>
                    
                            <input type="text"  id="Address" name="Address"  placeholder="Address"  required>
                    
                            </div>
                            <div class="date">
                    
                            <input type="text" id="Jate_of_join" name="Date_of_join"  placeholder="DOJ"  required style="margin-right: 40%" onfocus="(this.type='date')">
                    
                            </div>
                            <div>
                    
                            <input type="text"  id="department" name="department"  placeholder="Department"  required>
                    
                            </div>
                            <div>
                    
                            <input type="text" id="Designation" name="Designation"  placeholder="Designation"  required>
                    
                            </div>
                            <div>
                    
                            <input type="text" style="margin-bottom: 0%;" id="Reporting_Dept" name="Reporting_Dept"  placeholder="Reporting Person"  required>
                    
                    
                            </div>
                            </div>
                    
                            <div class="col-md-6"> 
                    
                            <div>
                    
                            <input type="Email" id="Email" name="Email"  placeholder="Email" required>
                    
                            </div>
                            
                            <div> 
                                <input id="Emp_ID" name="Emp_ID" type="text"  placeholder="Employee ID" required> 
                                </div>
                            <div>
                    
                            <input type="text" id="User_name" name="User_name"  placeholder="Username"  required>
                    
                            </div>
                            <div>
                    
                            <input type="Password"  id="Password" name="Password"  placeholder="Password"  required>
                    
                            </div>
                            <div>
                    
                            <input type="Password"  id="Confirm_Password" name="Confirm_Password"  placeholder="Confirm_Password" onkeyup="validate_password()" required>
                            <br><span style="margin-left: 2%;" id="wrong_pass_alert"></span>
                            </div>
                            
                            <div>
                    
                            {% comment %} <input type="file"  id="Image" name="Image"  placeholder="Image"  required> {% endcomment %}
                            
                            </div>
                            <div class="card cards ">
                              <div class="card-body" style="padding:1rem">
                                <div class="row">
                                    <div class="col-md-4"> 
                                        <div class="preview">
                                            <img height="70px" width="70px" id="file-ip-1-preview">
                                        </div>
                                    </div><div class="col-md-8"  > 
                                        <label for="fileUp"></label>
                                            <input id="fileUp" type="file" id="Image" name="Image" accept="image/*" onchange="showPreview(event);" required>
                                           <div class="row upup">
                                            <a id="upload_link" href="javascript:void(0)"  type="button"  class="btn btn-primary uploadButton">Upload Photo</a>
                                           </div>
                                        
                                    </div>
                                </div>
                                
                            </div>
                            </div> 
                             <div style="margin-left: 2%;">
                                <a href="/employees"   class="btn  btn-outline-info btn-md cancel"> Cancel</a>
                                <button type="submit" class="btn   btn-primary btn-sm  add "  onclick="wrong_pass_alert()">Add</button>
                             </div>
                        </div>
                    
                    
                            </form>
               
            </section>
        </div>
    </div> 
    <script>
      function validate_password() {
 
         var pass = document.getElementById('Password').value;
         var confirm_pass = document.getElementById('Confirm_Password').value;
         if (pass != confirm_pass) {
             document.getElementById('wrong_pass_alert').style.color = 'red';
             document.getElementById('wrong_pass_alert').innerHTML
               = '☒ Use same password';
             document.getElementById('create').disabled = true;
             document.getElementById('create').style.opacity = (0.4);
         } else {
             document.getElementById('wrong_pass_alert').style.color = 'green';
             document.getElementById('wrong_pass_alert').innerHTML =
                 '🗹 Password Matched';
             document.getElementById('create').disabled = false;
             document.getElementById('create').style.opacity = (1);
         }
        }
        
        function wrong_pass_alert() {
         if (document.getElementById('Password').value != document.getElementById('Confirm_Password').value) {
             alert("Password not Matched");
         } 
        }

    </script> 
    <script>
         
    $("#upload_link").click(function(){
   $("#fileUp").trigger('click');
    });
    // $('#fileUp').change(function() {
    //     var i = $(this).prev('label').clone();
    //     var file = $('#fileUp')[0].files[0].name; 
    //     $(this).prev('label').text(file); 
    // }); 
    function showPreview(event){
     if(event.target.files.length > 0){
    var src = URL.createObjectURL(event.target.files[0]);
    var preview = document.getElementById("file-ip-1-preview");
    preview.src = src;
    preview.style.display = "block";
        }
    }
   </script>
   <script>
        //search shadow
        $(document).ready(function() {
            {
               $(".search").addClass("shadow-none");
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="{% static 'assets\js\main.js' %}"></script>
    <script>
        AOS.init();
    </script>

</body>
</html>