<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sversity is the online edu. Tech division of Apcosys Private Limited and Apcosys is a software development and consultancy company with headquarter in Bangalore, India. Sversity online learning destination, offering high-quality courses from the world's best universities and institutions to learners everywhere. In the age of internet, do we really need to spend huge amount on getting degrees? One can equally quench his third for knowledge by joining online classes.">
    <title>Leapss - Leave Management System</title>
    {% load static %}
    <link href="{% static 'assets\css\admin.css' %}" rel="stylesheet">
    <link href="{% static 'assets\css\calendar.css' %}" rel="stylesheet">

    <!-- CSS only -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- Ionic Icon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

    <!-- bootstrap Icon  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <!-- Google Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,200,0,0" />

</head>
<body id="body-pd">
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white border-right position-sticky header" id="sidebar-wrapper">
            <div class="justify-content-center">
                <div class="leapss"><img src="{% static 'assets/img/logo.png'%}" alt="">
                    <button class="btn" id="sidebarClose"><i class="bi bi-x navToggle"></i>  </button>
                </div>
            </div>
            <ul class="sidebar-nav " id="sidebar-nav">
                <li class="profile"data-bs-toggle="collapse">
                    <img src="{% static 'assets/img/user.png'%}" alt="" class="img-fluid rounded-circle">
                    <h6>{{request.session.Username}}</h6>
                </li>
            </ul>
            <div class="list-group list-group-flush" style="list-style:none; margin-top: 10%;">
                <!-- <button class="btn" id="sidebarClose"><span class="bi bi-x "></span></button> -->
                <li ><a class="list-group-item active" href="/adminDashboard"><i class="bi bi-grid" style="margin-left: 20%; font-size:18px;"></i><span></i> <span>Home</span></a></li>
                <li><a class="list-group-item " href="/leaveApplicationDetails"> <i class="bi bi-clock" style="margin-left: 20%;font-size:18px; "></i><span></i><span>Leave Section</span></a></li>
                <li><a class="list-group-item " href="/employees"><i class="bi bi-people" style="margin-left: 20%;font-size:18px;"></i><span></i><span>Employee</span></a></li>
                <li><a class="list-group-item " href="/companySetup"><i class="bi bi-gear"style="margin-left: 20%;font-size:18px;"></i><span></i><span>Company Setup</span></a></li>
             </div>
             <div class="logout">
              <a class="nav-link"href="/adminLogin"><span class="material-symbols-outlined"style="padding:5%;font-weight: 600; position:relative;top:3px;">
                logout
                </span><span style="font-family: 'Segoe UI', sans-serif; position:relative;bottom:3px; ">Log Out</span></a>
            </div>
            
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg  align-items-center justify-content-around border-bottom">
                <!-- <div class="container">
                    <button class="btn" id="sidebarToggle"><span class="navbar-toggler-icon"></span></button>
                </div> -->
                
                <div class="logo d-flex align-items-center">
                    <button class="btn toggle " id="sidebarToggle"><i class="bi bi-list navToggle"></i></button>
                    <!-- <img src="{% static 'assets/img/Apcosys.png'%}" alt=""> -->
                    <span>Apcosys Private Limited</span>
                  </div>
                  
                  <div class="input-group col-md-6">
                    <form method="POST" action="/profilestatus">
                      {% csrf_token %}
                      <div class="row">
                      <input class="form-control py-2 border-right-0 border" style=" width: 450px;" type="search" placeholder="Search Employee" id="example-search-input" name="Emp_ID">
                      <span class="input-group-append">
                          <button class="btn btn-outline-secondary border-left-0 border search" type="submit">
                              <i class="bi bi-search"></i>
                          </button>
                      </span>
                    </div>
                    </form>
                  </div>

                <ul class="d-flex align-items-center header-nav">
                    <li style="list-style: none;"class="addEmp">
                        <a type="button" href="/addEmployee" class="btn "><span style="color:#fff;font-weight: 600; font-size: 20px; margin-top:3px;" class="material-symbols-outlined">
                            add
                            </span> <span class="text" style="font-family: 'Segoe UI', sans-serif; position: inherit;bottom: 3px;" >Add Employee</span></a>
                    </li>
                  </ul>
            </nav>
            <section class="section container  bg-white rounded dashboard">
                <div class="row">
                  <div class="col-md-3">
                    <a href="/totalEmployees" style="text-decoration: none;">
                      <div class="card"style = "background-color: #009eff; border:none;  ">
                          <div class="card-body">
                              <p class="card-text">Total Employees</p>
                              <h5 class="card-title" style="color: #ffffff;">{{total_emp}}</h5>
                          </div>
                      </div>
                    </a> 
                  </div>
                    <div class="col-md-3">
                      <a href="/presentEmployees" style="text-decoration: none;">
                        <div class="card" style = "background-color: #52D89C; border:none; height:110px;bottom:0px; ">
                            <div class="card-body">
                              <p class="card-text">Present Today</p>
                              <h5 class="card-title" style="color: #ffffff;">{{present_today}}</h5>
                            </div>
                        </div>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="/onLeave" style="text-decoration: none;">
                        <div class="card"style = "background-color: #FFC14E;border:none;">
                            <div class="card-body">
                              <p class="card-text">Leave/Absent Today</p>
                              <h5 class="card-title" style="color: #ffffff;">{{today_leave}}</h5>
                            </div>
                        </div>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="/leaveApplicationDetails" style="text-decoration: none;">
                        <div class="card">
                            <div class="card-body"style = "background-color: #FF7B5D; border:none; border-radius:4px;">
                              <p class="card-text">Leave Request</p>
                              <h5 class="card-title" style="color: #ffffff;">{{total_Leave}}</h5>
                            </div>
                        </div>
                      </a>
                    </div>  
                </div>
                <div class=" empInfo " style="position:relative;padding-top:0px;"> 
                    <p style="color: #52D89C; ;">Present Employees - {{present_today}}</p>
                    <div class="anyClass"> 
                        {% for  dep in  dep1 %}
                            <div class="list">
                                <div class="row">
                                    <div class="col-md-3"><p class="dept">{{dep.department1}} </p></div>
                                    <div class="col-md-3"><p class="total">Total Members-{{count_dep1|default:"0"}}</p></div> 
                                        <div class="col-md-2">
                                            <a   class="pp"><span style="background-color: #52D89C;" data-toggle="modal" data-target="#presentModal"class=" preset btn">P</span> &nbsp;{{present_emp|default:"0"}}</a>
                                        </div>
                                        <div class="col-md-2">
                                            <a   class="pp"><span style="background-color: #FF7B5D;" data-toggle="modal" data-target="#absentModal" class=" preset btn">A</Span> &nbsp;{{absent_count_dep1|default:"0"}}</a>
                                        </div> 
                                    <div class="col-md-2  "><a href="/totalEmployeeDetails" class="vie">View All</a></div>
                                </div>
                            </div>
                        {% endfor %}


                        {% for  dep in  dep2 %}
                         <div class="list">
                            <div class="row">
                                <div class="col-md-3"><p class="dept">{{dep.department2}}</p></div>
                                <div class="col-md-3"><p class="total">Total Members-{{count_dep2|default:"0"}}</p></div> 
                                    <div class="col-md-2">
                                        <a class="pp"><span style="background-color: #52D89C;" data-toggle="modal" data-target="#presentModal1" class=" preset btn">P</span> &nbsp;{{present_emp|default:"0"}}</a>
                                    </div>
                                    <div class="col-md-2">
                                        <a  class="pp"><span style="background-color: #FF7B5D;" data-toggle="modal" data-target="#absentModal1" class=" preset btn">A</Span> &nbsp;{{absent_count_dep2|default:"0"}}</a>
                                    </div> 
                                <div class="col-md-2  "><a href="/totalEmployeeDetails_dep2" class="vie">View All</a></div>
                            </div>
                         </div>

                         {% endfor %}


                        {% for  dep in  dep3 %}
                         <div class="list">
                            <div class="row">
                                <div class="col-md-3"><p class="dept">{{dep.department3}}</p></div>
                                <div class="col-md-3"><p class="total">Total Members-{{count_dep3|default:"0"}}</p></div> 
                                    <div class="col-md-2">
                                        <a class="pp"><span style="background-color: #52D89C;" data-toggle="modal" data-target="#presentModal2" class=" preset btn">P</span> &nbsp;{{dep3_present.count}}</a>
                                    </div>
                                    <div class="col-md-2">
                                        <a  class="pp"><span style="background-color: #FF7B5D;" data-toggle="modal" data-target="#absentModal2" class=" preset btn">A</Span> &nbsp;{{absent_count_dep3|default:"0"}}</a>
                                    </div> 
                                <div class="col-md-2  "><a href="/totalEmployeeDetails_dep3" class="vie">View All</a></div>
                            </div>
                         </div>

                         {% endfor %}


                         {% for  dep in  dep4 %}
                         <div class="list">
                            <div class="row">
                                <div class="col-md-3"><p class="dept">{{dep.department4}}</p></div>
                                <div class="col-md-3"><p class="total">Total Members-{{count_dep4|default:"0"}}</p></div> 
                                    <div class="col-md-2">
                                        <a class="pp"><span style="background-color: #52D89C;" data-toggle="modal" data-target="#presentModal3" class="preset btn">P</span> &nbsp;{{dep4_present.count}}</a>
                                    </div>
                                    <div class="col-md-2">
                                        <a class="pp"><span style="background-color: #FF7B5D;" data-toggle="modal" data-target="#absentModal3" class=" preset btn">A</Span> &nbsp;{{absent_count_dep4|default:"0"}}</a>
                                    </div> 
                                <div class="col-md-2  "><a href="/totalEmployeeDetails_dep4" class="vie">View All</a></div>
                            </div>
                         </div>
                         {% endfor %}


                         {% for  dep in  dep5 %}
                         <div class="list">
                            <div class="row">
                                <div class="col-md-3"><p class="dept">{{dep.department5}}</p></div>
                                <div class="col-md-3"><p class="total">Total Members-{{count_dep5|default:"0"}}</p></div> 
                                    <div class="col-md-2">
                                        <a class="pp"><span style="background-color: #52D89C;" data-toggle="modal" data-target="#presentModal4" class=" preset btn">P</span> &nbsp;{{dep5_present.count}}</a>
                                    </div>
                                    <div class="col-md-2">
                                        <a class="pp"><span style="background-color: #FF7B5D;" data-toggle="modal" data-target="#absentModal4" class=" preset btn">A</Span> &nbsp;{{absent_count_dep5|default:"0"}}</a>
                                    </div> 
                                <div class="col-md-2  "><a href="/totalEmployeeDetails_dep5" class="vie">View All</a></div>
                            </div>
                         </div>

                         {% endfor %}
                        
                        
                          
                     </div>
                </div>
                 
                 <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button> -->
  
                <!-- Present Modal -->
                <div class="modal fade" id="presentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content ">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle" style="color: #009eff;">Present Employees - {{present_today}}</h5>
                            <button type="button" class="clos" data-dismiss="modal" aria-label="Close">
                                <span class="material-symbols-outlined" style="display: flex; justify-content: center; align-items: center;">
                                    close
                                    </span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="anyClass">
                                    {% for  emp in  a_count %} 
                                    <div class="modallist">
                                    
                                        <div class="row">
                                        <div class="col-md-4"><p style="color:#009eff;font-size: 18px;" class="text">{{emp.Name}}</p></div>
                                        <div class="col-md-2"><p  class="text" style="color:#009eff;font-size: 18px; padding-top:22%;">{{emp.Emp_ID}}</p></div>
                                        <div class="col-md-4"><p class="text">{{emp.Designation}}</p></div> 
                                            <div class="col-md-2">
                                                <a style="background-color: #52D89C;" class=" preset">P</a> 
                                        </div>  
                                        </div>
                                    
                                    </div>
                                    {% endfor %}
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                
                {% comment %} ============================================================================================= {% endcomment %}
                
                
                <div class="modal fade" id="presentModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content ">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle" style="color: #009eff;">Present Employees - {{present_today}}</h5>
                            <button type="button" class="clos" data-dismiss="modal" aria-label="Close">
                                <span class="material-symbols-outlined" style="display: flex; justify-content: center; align-items: center;">
                                    close
                                    </span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="anyClass">
                                    {% for  emp in  b_count %} 
                                    <div class="modallist">
                                    
                                        <div class="row">
                                        <div class="col-md-4"><p style="color:#009eff;font-size: 18px;" class="text">{{emp.Name}}</p></div>
                                        <div class="col-md-2"><p  class="text" style="color:#009eff;font-size: 18px; padding-top:22%;">{{emp.Emp_ID}}</p></div>
                                        <div class="col-md-4"><p class="text">{{emp.Designation}}</p></div> 
                                            <div class="col-md-2">
                                                <a style="background-color: #52D89C;" class=" preset">P</a> 
                                        </div>  
                                        </div>
                                    
                                    </div>
                                    {% endfor %}
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                
                {% comment %} ================================================================================================ {% endcomment %}
                
                <div class="modal fade" id="presentModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content ">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle" style="color: #009eff;">Present Employees - {{present_today}}</h5>
                            <button type="button" class="clos" data-dismiss="modal" aria-label="Close">
                                <span class="material-symbols-outlined" style="display: flex; justify-content: center; align-items: center;">
                                    close
                                    </span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="anyClass">
                                    {% for  emp in  c_count %} 
                                    <div class="modallist">
                                    
                                        <div class="row">
                                        <div class="col-md-4"><p style="color:#009eff;font-size: 18px;" class="text">{{emp.Name}}</p></div>
                                        <div class="col-md-2"><p  class="text" style="color:#009eff;font-size: 18px; padding-top:22%;">{{emp.Emp_ID}}</p></div>
                                        <div class="col-md-4"><p class="text">{{emp.Designation}}</p></div> 
                                            <div class="col-md-2">
                                                <a style="background-color: #52D89C;" class=" preset">P</a> 
                                        </div>  
                                        </div>
                                    
                                    </div>
                                    {% endfor %}
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                
                {% comment %} ======================================================================================================== {% endcomment %}
                
                <div class="modal fade" id="presentModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content ">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle" style="color: #009eff;">Present Employees - {{present_today}}</h5>
                            <button type="button" class="clos" data-dismiss="modal" aria-label="Close">
                                <span class="material-symbols-outlined" style="display: flex; justify-content: center; align-items: center;">
                                    close
                                    </span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="anyClass">
                                    {% for  emp in  d_count %} 
                                    <div class="modallist">
                                    
                                        <div class="row">
                                        <div class="col-md-4"><p style="color:#009eff;font-size: 18px;" class="text">{{emp.Name}}</p></div>
                                        <div class="col-md-2"><p  class="text" style="color:#009eff;font-size: 18px; padding-top:22%;">{{emp.Emp_ID}}</p></div>
                                        <div class="col-md-4"><p class="text">{{emp.Designation}}</p></div> 
                                            <div class="col-md-2">
                                                <a style="background-color: #52D89C;" class=" preset">P</a> 
                                        </div>  
                                        </div>
                                    
                                    </div>
                                    {% endfor %}
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                
                
                {% comment %} ======================================================================================================== {% endcomment %}
                
                <div class="modal fade" id="presentModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content ">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle" style="color: #009eff;">Present Employees - {{present_today}}</h5>
                            <button type="button" class="clos" data-dismiss="modal" aria-label="Close">
                                <span class="material-symbols-outlined" style="display: flex; justify-content: center; align-items: center;">
                                    close
                                    </span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="anyClass">
                                    {% for  emp in  e_count %} 
                                    <div class="modallist">
                                    
                                        <div class="row">
                                        <div class="col-md-4"><p style="color:#009eff;font-size: 18px;" class="text">{{emp.Name}}</p></div>
                                        <div class="col-md-2"><p  class="text" style="color:#009eff;font-size: 18px; padding-top:22%;">{{emp.Emp_ID}}</p></div>
                                        <div class="col-md-4"><p class="text">{{emp.Designation}}</p></div> 
                                            <div class="col-md-2">
                                                <a style="background-color: #52D89C;" class=" preset">P</a> 
                                        </div>  
                                        </div>
                                    
                                    </div>
                                    {% endfor %}
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <!--======================================================= absent Modal =================================================== -->
                
                <div class="modal fade" id="absentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content ">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle" style="color: #009eff;">Absent Employees - {{absent_count_dep1|default:"0"}}</h5>
                            <button type="button" class="clos" data-dismiss="modal" aria-label="Close">
                                <span class="material-symbols-outlined" style="display: flex; justify-content: center; align-items: center;">
                                    close
                                    </span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="anyClass"> 
                                    {% for  emp in  a_absent_count %} 
                                    <div class="modallist">
                                    
                                        <div class="row">
                                        <div class="col-md-4"><p style="color:#009eff;font-size: 18px;" class="text">{{emp.Name}}</p></div>
                                        <div class="col-md-2"><p  class="text" style="color:#009eff;font-size: 18px; padding-top:22%;">{{emp.Emp_ID}}</p></div>
                                        <div class="col-md-4"><p class="text">{{emp.Designation}}</p></div> 
                                            <div class="col-md-2">
                                                <a style="background-color: #FF7B5D;" class=" preset">A</a> 
                                        </div>  
                                        </div>
                                    
                                    </div>
                                    {% endfor %}
                    
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                {% comment %} =========================================================================================== {% endcomment %}
                
                
                
                <div class="modal fade" id="absentModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content ">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle" style="color: #009eff;">Absent Employees - {{absent_count_dep2|default:"0"}}</h5>
                            <button type="button" class="clos" data-dismiss="modal" aria-label="Close">
                                <span class="material-symbols-outlined" style="display: flex; justify-content: center; align-items: center;">
                                    close
                                    </span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="anyClass"> 
                                    {% for  emp in  b_absent_count %} 
                                    <div class="modallist">
                                    
                                        <div class="row">
                                        <div class="col-md-4"><p style="color:#009eff;font-size: 18px;" class="text">{{emp.Name}}</p></div>
                                        <div class="col-md-2"><p  class="text" style="color:#009eff;font-size: 18px; padding-top:22%;">{{emp.Emp_ID}}</p></div>
                                        <div class="col-md-4"><p class="text">{{emp.Designation}}</p></div> 
                                            <div class="col-md-2">
                                                <a style="background-color: #FF7B5D;" class=" preset">A</a> 
                                        </div>  
                                        </div>
                                    
                                    </div>
                                    {% endfor %}
                    
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                
                
                {% comment %} ================================================================================================== {% endcomment %}
                <div class="modal fade" id="absentModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content ">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle" style="color: #009eff;">Absent Employees - {{absent_count_dep3|default:"0"}}</h5>
                            <button type="button" class="clos" data-dismiss="modal" aria-label="Close">
                                <span class="material-symbols-outlined" style="display: flex; justify-content: center; align-items: center;">
                                    close
                                    </span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="anyClass"> 
                                    {% for  emp in  c_absent_count %} 
                                    <div class="modallist">
                                    
                                        <div class="row">
                                        <div class="col-md-4"><p style="color:#009eff;font-size: 18px;" class="text">{{emp.Name}}</p></div>
                                        <div class="col-md-2"><p  class="text" style="color:#009eff;font-size: 18px; padding-top:22%;">{{emp.Emp_ID}}</p></div>
                                        <div class="col-md-4"><p class="text">{{emp.Designation}}</p></div> 
                                            <div class="col-md-2">
                                                <a style="background-color: #FF7B5D;" class=" preset">A</a> 
                                        </div>  
                                        </div>
                                    
                                    </div>
                                    {% endfor %}
                    
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                
                
                {% comment %} ================================================================================================== {% endcomment %}
                <div class="modal fade" id="absentModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content ">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle" style="color: #009eff;">Absent Employees - {{absent_count_dep4|default:"0"}}</h5>
                            <button type="button" class="clos" data-dismiss="modal" aria-label="Close">
                                <span class="material-symbols-outlined" style="display: flex; justify-content: center; align-items: center;">
                                    close
                                    </span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="anyClass"> 
                                    {% for  emp in  d_absent_count %} 
                                    <div class="modallist">
                                    
                                        <div class="row">
                                        <div class="col-md-4"><p style="color:#009eff;font-size: 18px;" class="text">{{emp.Name}}</p></div>
                                        <div class="col-md-2"><p  class="text" style="color:#009eff;font-size: 18px; padding-top:22%;">{{emp.Emp_ID}}</p></div>
                                        <div class="col-md-4"><p class="text">{{emp.Designation}}</p></div> 
                                            <div class="col-md-2">
                                                <a style="background-color: #FF7B5D;" class=" preset">A</a> 
                                        </div>  
                                        </div>
                                    
                                    </div>
                                    {% endfor %}
                    
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                
                {% comment %} ================================================================================================== {% endcomment %}
                <div class="modal fade" id="absentModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content ">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle" style="color: #009eff;">Absent Employees - {{absent_count_dep5|default:"0"}}</h5>
                            <button type="button" class="clos" data-dismiss="modal" aria-label="Close">
                                <span class="material-symbols-outlined" style="display: flex; justify-content: center; align-items: center;">
                                    close
                                    </span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="anyClass"> 
                                    {% for  emp in  e_absent_count %} 
                                    <div class="modallist">
                                    
                                        <div class="row">
                                        <div class="col-md-4"><p style="color:#009eff;font-size: 18px;" class="text">{{emp.Name}}</p></div>
                                        <div class="col-md-2"><p  class="text" style="color:#009eff;font-size: 18px; padding-top:22%;">{{emp.Emp_ID}}</p></div>
                                        <div class="col-md-4"><p class="text">{{emp.Designation}}</p></div> 
                                            <div class="col-md-2">
                                                <a style="background-color: #FF7B5D;" class=" preset">A</a> 
                                        </div>  
                                        </div>
                                    
                                    </div>
                                    {% endfor %}
                    
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                
                
                {% comment %} ============================================================================================= {% endcomment %}
                            </section>
                        </div>
                    </div>
    <script>
      $(document).ready(function() {
      {
          $(".search").addClass("shadow-none");
      }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="{% static 'assets\js\main.js' %}"></script> 

</body>
</html>